@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,600&family=Ubuntu:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
}
.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

/* navbar */
.navbar {
    position: fixed;
    width: 100%;
    padding: 30px 0;
    transition: all 0.3s ease;
    z-index: 999;
}

.navbar.sticky {
    padding: 15px 0;
    background-color: crimson;
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    color: #fff;
    font-size: 35px;
    font-weight: 60%;
}

.navbar .logo a span {
    color: crimson;
    transition: all 0.3s ease;
}

.navbar.sticky .logo a span {
    color: #fff;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover {
    color: crimson;
}

.navbar.sticky .menu li a:hover {
    color: #fff;
}

/* menu btn */
.menu-btn {
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
.scroll-up-btn {
    position: fixed;
    height: 45px;
    width: 42px;
    background: crimson;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show {
    opacity: 1;
    pointer-events: auto;
    bottom: 30px;

}
/*home section*/
.home {
    display: flex;
    background-color: black;
    height: 100vh;
    color: #fff;
    min-height: 500px;
}

.home .max-width {
    margin: auto 0 auto 40px;
}

.home .home-content .text-1 {
    font-size: 27px;
}

.home .home-content .text-2 {
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

.home .home-content .text-3 {
    font-size: 40px;
    margin: 5px 0;
}

.home .home-content .text-3 span {
    color: crimson;
    font-weight: 500;
}

.home .home-content a {
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}

.home .home-content a:hover {
    color: crimson;
    background: none;
}

/* Similar content style */
.about,
.education,
.skills,
.contact,
footer {
    font-family: "Poppins", sans-serif;
}
.about .about-content,
.education .education-content,
.skills .skills-content,
.contact .contact-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section {
    padding: 100px 0;
}

section .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: "ubuntu", sans-serif;
}

section .title::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 180px;
    height: 3px;
    background: #111;
}

section .title::after {

    position: absolute;
    bottom: -7px;
    left: 46.5%;
    font-size: 15px;
    padding: 2px;
    color: crimson;
    background: #fff;
}

/* About section */

.about .title::after {
    content: "Who I am";
}



.about .about-content .left {
    width: 45%;
}

.about .about-content .left img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}

.about .about-content .right {
    width: 55%;
}

.about .about-content .right .text {
    font-size: 25;
    font-weight: 600;
    margin-bottom: 10px;
}

.about .about-content .right .text span {
    color: crimson;
}

.about .about-content .right p {
    text-align: justify;
}

.about .about-content .right a {
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}

.about .about-content .right a:hover {
    color: crimson;
    background: none;
}

.about .about-content .column {
    width: 50%;
}

/* Education section */
.education {
    color: #fff;
    background: #111;
}

.education .title::after {
    background: #111;
    content: "Where I studied";
    left: 45%;
}

.education .title::before {
    background: #fff;
    width: 185px;
}

.education .education-content .card {
    width: calc(33% - 20px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    cursor: pointer;
}

.education .education-content .card .box {
    transition: all 0.3s ease;
}
.education .education-content .card:hover{
    background: crimson;
}
.education .education-content .card:hover .box{
    transform: scale(1.05);
}
.education .education-content .card i {
    font-size: 50px;
    color: crimson;
    transition: all 0.3s ease;
}
.education .education-content .card:hover i{
    color: #fff;
}
.education .education-content .card .text {
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

/* Skill section */

.skills .title::after {
    content: "What I know";
    left: 46.5%;
}
.skills .title::before {
    width: 165px;
}
.skills .skills-content .column {
    width: calc(50% - 30px);
}
.skills .skills-content .left .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.skills .skills-content .left p{
    text-align: justify;
}
.skills .skills-content .left a {
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.skills .skills-content .left a:hover {
    color: crimson;
    background: none;
}
.skills .skills-content .right .bars {
    margin-bottom: 15px;
}
.skills .skills-content .right .info {
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content .right span {
    font-weight: 500;
    font-size: 18px;
}
.skills .skills-content .right .line {
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}
.skills .skills-content .right .line::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0;
    top: 0;
    background: crimson;
}

/* Contact section */
.contact .title::before {
    width: 210px;
}
.contact .title::after{
    content: "get in touch";
    left: 46%;
}
.contact .contact-content .column {
    width: calc(50% - 30px);
}
.contact .contact-content .text {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.contact .contact-content .left p {
    text-align: justify;
}
.contact .contact-content .left .icons {
    margin: 10px 0;
}
.contact .contact-content .row {
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row .info {
    margin-left: 30px;
}
.contact .contact-content .row i {
    font-size: 25px;
    color: crimson;
}
.contact .contact-content .info .head {
    font-weight: 500;
}
.contact .contact-content .info .sub-title {
    color: #333;
}

.contact .right form .fields {
    display: flex;
}
.contact .right form .field,
.contact .right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
.contact .right form .name {
    margin-right: 10px;
}
.contact .right form .email {
    margin-left: 10px;
}
.contact .right form .textarea {
    height: 80px;
    width: 100%;
}
.contact .right form .button {
    height: 47px;
    width: 170px;
}
.contact .right form .button button {
    width: 100%;
    height: 100%;
    border: 2px solid crimson;
    background: crimson;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.contact .right form .button button:hover {
    color: crimson;
    background: none;
}
.contact .right form .field input,
.contact .right form .textarea textarea {
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: "Poppins", sans-serif;
}
.contact .right form .textarea textarea {
    padding-top: 10px;
    resize: none;
}

/* footer section */
footer {
    background: #111;
    padding: 20px 23px;
    color: #fff;
    text-decoration: none;
}
footer span a {
    color: crimson;
}
footer span a:hover {
    text-decoration: underline;
}
/* Responsive */
@media (max-width: 1300px) {
    .home .max-width {
        margin-left: 0;
    }
}

@media (max-width: 1104px) {
    .about .about-content .left img {
        height: 350px;
        width: 350px;
    }
}

@media (max-width: 991px) {
    .max-width {
        padding: 0 50px;
    }
}

@media (max-width: 947px) {

    .menu-btn {
        display: block;
        z-index: 999;
    }

    .menu-btn i.active:before {
        content: "\f00d";
    }

    .navbar .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }

    .navbar .menu.active {
        left: 0;
    }

    .navbar .menu li {
        display: block;
    }

    .navbar .menu li a {
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }

    .home .home-content .text-2 {
        font-size: 70px;
    }

    .home .home-content .text-3 {
        font-size: 35px;
    }

    .home .home-content a {
        font-size: 23px;
        padding: 10px 30px;
    }

    .max-width {
        max-width: 800px;
    }

    .about .about-content .column {
        width: 100%;
    }

    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .about .about-content .right {
        flex: 100%;
    }
    .education .education-content .card {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .skills .skills-content .column,
    .contact .contact-content .column {
        width: 100%;
        margin-bottom: 35px;
    }
}

@media (max-width: 690px) {
    .max-width {
        padding: 0 23px;
    }

    .home .home-content .text-2 {
        font-size: 60px;
    }

    .home .home-content .text-3 {
        font-size: 32px;
    }

    .home .home-content a {
        font-size: 20px;
    }
    .education .education-content .card {
        width: 100%;
    }
}

@media (max-width: 500px) {

    .home .home-content .text-2 {
        font-size: 50px;
    }

    .home .home-content .text-3 {
        font-size: 27px;
    }
    .education .education-content .card {
        width: 100%;
    }
}